<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bangers:wght@400;700&display=swap" rel="stylesheet">

    <title>MangaPill Chapter Tracker - Home</title>
</head>

<body>
    <div class="wrap">
        <a href="{{ url_for('auth.logout') }}" class="logout-btn">Log Out</a>
        <div class="title">
            <img src="../static/images/ryangit.png">
            <h1>MangaPill Chapter Tracker</h1>
        </div>

         {% if current_user.is_authenticated and current_user.username in ["sarahsweet", "rdjsweet"] %}
        <nav class="quick-links">
            <a href="{{ url_for('halloween.index') }}">🎃 Halloween</a>
        </nav>
        {% endif %}
        
        <div class="container">

            <div class="content">
                <p>Paste URL from <u><strong>Manga Chapter List</strong></u> Below to Add</p>
                <form action="{{ url_for('manga.add_manga') }}" method="POST" class="form-inline">
                    <input type="text" name="url" id="url" placeholder="Enter manga URL here" required>
                    <button type="submit">Add</button>
                </form>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="flashes">
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} flash-message">{{ message }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

                <form action="{{ url_for('manga.check_updates') }}" method="post">
                    <button type="submit" class="check-updates-btn" onClick="changeText(this)">Check for Updates</button>
                </form>
                <br>
                <p>Last Checked: {{ last_checked }}</p>
            </div>

            <div class="scrollables">
                <div class="scroll-box-manga">
                    <h2>Manga List</h2>
                    <ul>
                        {% for manga in manga_list %}
                        <li class="{% if manga['new_chapters_count'] > 0 %}updated-chapters{% endif %}">
                            <strong>{{ manga['title'] }}</strong><br>
                            Latest Chapter: {{ manga['latest_chapter_title'] }}<br>

                            <label for="chapter_select_{{ manga['id'] }}">Read Chapter:</label>
                            <select id="chapter_select_{{ manga['id'] }}" name="chapter"
                                onchange="updateChapterLink({{ manga['id'] }})">
                                {% for chapter in manga['chapters'] %}
                                <option value="{{ chapter['url'] }}" {% if loop.first %}selected{% endif %}>
                                    {{ chapter['chapter_title'] }}
                                </option>
                                {% endfor %}
                            </select><br>

                            {% if manga['new_chapters_count'] > 0 %}
                            <span class="new-chapters"># {{ manga['new_chapters_count'] }} new chapter(s)!</span><br>
                            {% endif %}

                            <div class="manga-links">
                                <a id="read_link_{{ manga['id'] }}" href="#" target="_blank">
                                    Read on MangaPill
                                </a>
                                <a href="#"
                                    onclick="confirmDelete('{{ manga['id'] }}', '{{ manga['title'] }}')">Delete</a>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="scroll-box-logs">
                    <div class="logs">
                        <h2>Activity Log</h2>
                        <ul>
                            {% for log in logs %}
                            <li>{{ log['date_added'] }} <br>
                                <strong>{{ log['manga_title'] }}</strong>
                                {% if log['chapters_added'] > 0 %}
                                : {{ log['chapters_added'] }} new chapter(s) added!
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Confirm Deletion</h2>
                <p id="modal-text">Are you sure you want to delete this manga?</p>
                <button id="confirmDeleteBtn">✓</button>
                <button onclick="closeModal()">✕</button>
            </div>
        </div>
</body>

<footer class="site-footer">
    &copy; 2025 SweetSoft, Ryan Sweet. All Rights Reserved.
</footer>

<script>
    function updateChapterLink(mangaId) {
        let selectElement = document.getElementById(`chapter_select_${mangaId}`);
        let selectedUrl = selectElement.value;

        let linkElement = document.getElementById(`read_link_${mangaId}`);
        linkElement.href = selectedUrl;
    }

    document.addEventListener("DOMContentLoaded", function () {
        {% for manga in manga_list %}
        updateChapterLink({{ manga['id'] }});
    {% endfor %}
    });

    function confirmDelete(mangaId, mangaTitle) {
        document.getElementById("deleteModal").style.display = "block";

        document.getElementById("modal-text").innerText = `Are you sure you want to delete "${mangaTitle}"?`;

        document.getElementById("confirmDeleteBtn").onclick = function () {
            window.location.href = `/delete/${mangaId}`;
        };
    }

    function closeModal() {
        document.getElementById("deleteModal").style.display = "none";
    }

    function changeText(button) {
        button.innerText = "Checking for updates..."
    }

    window.onclick = function (event) {
        let modal = document.getElementById("deleteModal");
        if (event.target == modal) {
            closeModal();
        }
    };
</script>

</html>